@import url("vendor/normalize.css");
@import url("vendor/bootstrap/bootstrap.css");

body {
   padding: 0ex 1em;
}

article h1 {
   font-size: large;
}

header nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: rgb(240, 240, 240);
}

header nav ul li {
   display: inline;
   border-right: 1px solid rgb(90, 90, 90);
   padding: 0 1ex;
}

header nav ul li:last-child {
   border-right: 0px;
   padding-right: 0;
}

.error {
   color: red;
}
