article header h1 {
   font-size: x-large;
}

article header p {
   font-size: small;
   font-style: italic;
}

article footer {
   font-size: small;
}

article footer ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

article footer ul li:first-child:before {
   content: 'Filed under ';
}

article footer ul li {
   display: inline;
}

article footer ul li:after {
   content: ', ';
}

article footer ul li:last-child:after {
   content: '';
}
