<!doctype html>
<html>
  <head>
    <title>Posts by tag</title>
          <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <hgroup>
      <header>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            {{#session}}
            <li><a href="/posts">Add post</a></li>
            <li><a href="/logout">Log out</a></li>
            {{/session}}
            {{^session}}
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup">Signup</a></li>
            {{/session}}
          </ul>
        </nav>
      </header>
      <h1>Tag: {{tag}}</h1>
    </hgroup>
    <section id="posts">
      {{#posts}}
      <article>
        <h1><a href="/posts/{{permalink}}">{{title}}</h1>
      </article>
      {{/posts}}
    </section>
  </body>
</html>
