<div class="well">
	<p>Type one proposition per line</p>
	<div class="input-group">

	<span class="input-group-addon">Propositions</span>
	<textarea rows="4" type="text" class="form-control" placeholder="Less than once a week&#10;More than once a week&#10;More than twice a week&#10;" name="choices"></textarea>
	</div>
</div>
<button type="submit" class="btn btn-primary pull-right">Add a question</button>