<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign up on inQuire</title>

  <!-- Bootstrap & js for animated menus-->
  <link rel="icon" href="/images/favicon.ico" />
  <link href="styles/bootstrap.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->


    </head>

    <body>


      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                    <a class="navbar-brand" href="/">

                <img class="hidden-xs logo-desktop" src="../images/logo.png" alt="">
                <img class="visible-xs logo-mobile"src="../images/logo.png">
                </a>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>


            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            {{#session}}
            <ul class="nav navbar-nav">
              
              <li><a href="/">Home</a></li>
              
              <li><a href="/polls">New survey</a></li>
              <li><a href="/mypolls">My surveys</a></li>
            </ul>
            {{/session}}
            <div class="nav navbar-nav navbar-right">
              
              {{^session}}
              <ul class="nav navbar-nav navbar-right">
              <li><a href="/login"><button class="btn btn-primary navbar-btn">Log in</button></a></li>
              <li><a href="/signup"><button class="btn btn-primary navbar-btn">Sign up</button></a></li>
              </ul>
              {{/session}}

              {{#session}}
              <ul class="nav navbar-nav navbar-right">

                <li><a class="no-blue-navbar hidden-xs" href="/profile">Welcome, {{user.firstname}} {{user.lastname}} ! </a></li>
                <li><a class="no-blue-navbar visible-xs" href="/profile">Profile</a></li>
                <li><a href="/logout"><button class="btn btn-primary navbar-btn">Log out</button></a></li>
              </ul>
              {{/session}}
            </div>
          </div>
        </div>
      </nav> <!-- Navbar Ending -->






    <div class="container">
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Sign up</h3>
            </div>
            <div class="panel-body">
              <form method="post">
                  <div class="input-group">
                    <span class="input-group-addon">Username</span>
                    <input type="text" class="form-control" placeholder="Username" name="username" value="{{username}}">
                  </div>
                    {{#errors.username}}<label class="error">{{errors.username}}</label>{{/errors.username}}

                  <div class="input-group">
                    <span class="input-group-addon">First Name</span>
                    <input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{firstname}}">
                  </div>
                  {{#errors.firstname}}<label class="error">{{errors.firstname}}</label>{{/errors.firstname}}

                  <div class="input-group">
                    <span class="input-group-addon">Last Name</span>
                    <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{lastname}}">
                  </div>
                  {{#errors.lastname}}<label class="error">{{errors.lastname}}</label>{{/errors.lastname}}

                  <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input type="text" class="form-control" placeholder="Email" name="email" value="{{email}}">
                  </div>
                  {{#errors.email}}<label class="error">{{errors.email}}</label>{{/errors.email}}


                  <div class="input-group">
                    <span class="input-group-addon">Password</span>
                    <input type="password" class="form-control" placeholder="*********" name="password">
                  </div>
                  {{#errors.password}}<label class="error">{{errors.password}}</label>{{/errors.password}}

                  <div class="input-group">
                    <span class="input-group-addon">Verify password</span>
                    <input type="password" class="form-control" placeholder="*********" name="verify">
                  </div>
                    {{#errors.verify}}<label class="error">{{errors.verify}}</label>{{/errors.verify}}
                  <button type="submit" class="btn btn-primary pull-right">Get started</button>
              </form>
            </div>
          </div>
          </div>
        </div>
        <div class="col-xs-3"></div>
      </div>
  </div>
  </body>
</html>
